body {
    background-color: #F7F7F7;
    color: #191970;
}

h1 {
    background-color: #833B83;
    color: #F9F0FE;
}

h2 {
    color: #AD77C3;
}

nav {
    background-color: #EAEAF2;
}

footer {
    color: #666666;
}

.companyname {
    color: #833B83;
}





